#info
{
    text-align: center;
    width:100%;
}


input[type="text"]
{
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    margin-top: 20px;
}


#search,#forecast
{
    font-size: 15px;
    font-weight: 400;
    height: 30px;
    margin-top: 20px;
    padding-bottom: 5px;
}

